@use '/src/variables' as *;
@use '/src/mixins' as *;

.hero {
  &__text {
    margin: 0 auto 6rem;
    max-width: 50rem;
    text-align: center;
  }

  @include breakpoint($xxl) {
    &__text {
      margin: 0;
      max-width: none;
      text-align: left;
    }
  }
}
