// Breakpoints
$s: 576px;
$m: 768px;
$l: 992px;
$xl: 1200px;
$xxl: 1400px;

// Colors
$light-gray: #f1f3f5;
$light-red: #ffc9c9;
$light-pink: #fcc2d7;
$light-grape: #eebefa;
$light-violet: #d0bfff;
$light-indigo: #bac8ff;
$light-blue: #a5d8ff;
$light-cyan: #99e9f2;
$light-teal: #96f2d7;
$light-green: #b2f2bb;
$light-lime: #d8f5a2;
$light-yellow: #ffec99;
$light-orange: #ffd8a8;

$gray: #343a40;
$red: #ff6b6b;
$pink: #f783ac;
$grape: #da77f2;
$violet: #b197fc;
$indigo: #748ffc;
$blue: #4dabf7;
$cyan: #3bc9db;
$teal: #38d9a9;
$green: #69db7c;
$lime: #a9e34b;
$yellow: #ffe066;
$orange: #ffa94d;

$dark-gray: #212529;

$gradients: ($cyan, $lime), ($orange, $pink), ($yellow, $orange), ($red, $grape),
  ($grape, $red), ($violet, $cyan), ($green, $yellow), ($pink, $orange),
  ($teal, $blue), ($yellow, $green), ($red, $yellow), ($cyan, $indigo),
  ($grape, $yellow), ($blue, $teal), ($pink, $indigo), ($lime, $teal);
$rainbow: ($red, $pink), ($pink, $grape), ($grape, $violet), ($violet, $indigo),
  ($indigo, $blue), ($blue, $cyan), ($cyan, $teal), ($teal, $green),
  ($green, $lime), ($lime, $yellow), ($yellow, $orange), ($orange, $red);

// Transitions
$time: 0.2s;

// Typography
$halant: 'Halant', serif;
$ubuntu-mono: 'Ubuntu Mono', monospace;
