@use '/src/variables' as *;
@use '/src/mixins' as *;

/* Document */
html {
  overflow: hidden;
}

body {
  color: white;
  line-height: 1.15;
  margin: 0;
  overflow: hidden;
}

.canvas {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  width: 100vw;
}

/* Sections */
section {
  padding: 2rem;

  > div:first-child {
    margin-bottom: 4rem;
  }
}

.placeholder {
  height: 1000rem;
}

/* Typography */
h1 {
  font-family: $halant;
  font-size: 2.2rem;
  margin-top: 0;
}

.subtitle {
  font-family: $ubuntu-mono;
  font-size: 1.4rem;
}

p {
  font-family: $ubuntu-mono;
}

.text-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  transition: 0.5s color;

  &--highlighted {
    color: transparent;
  }

  &--red-grape {
    background-image: linear-gradient(90deg, $red, $grape);
  }

  &--blue-indigo {
    background-image: linear-gradient(90deg, $blue, $indigo);
  }

  &--orange-yellow {
    background-image: linear-gradient(90deg, $orange, $yellow);
  }

  &--cyan-green {
    background-image: linear-gradient(90deg, $cyan, $green);
  }

  &--orange-pink {
    background-image: linear-gradient(90deg, $orange, $pink);
  }
}

@include breakpoint($s) {
  /* Typography */
  h1 {
    font-size: 4.5rem;
  }

  .subtitle {
    font-size: 1.8rem;
  }
}

@include breakpoint($xxl) {
  /* Sections */
  section {
    align-items: center;
    display: flex;
    gap: 2rem;
    margin: 0 auto;
    max-width: 1400px;
    padding: 2rem;

    > div {
      flex: 1;

      &:first-child {
        margin-bottom: 0;
      }
    }
  }
}
